
section {
    background-color: darkgreen;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p{
    background-color:;
}
body{
    background-color: ;
}